.popular {
  width: 100%;
  padding: 10rem 0;
  background-color: #eae7dc;
}

.popularContainer {
  height: 100%;
  max-width: 120rem;
  padding: 0 10rem;
  margin: 0 auto;
  color: #272425;
}

.popularContainer h3 {
  font-size: 4rem;
  font-weight: 700;
}

.popularBox {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  gap: 2.4rem;
  padding: 0 3rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.box:last-child {
  margin-top: 10rem;
}

.popularCard {
  width: 50rem;
  height: 36rem;
  background-color: transparent;
  /* background-color: #e9ed38; */
  border: 1px solid #bbbbbb;
  border-radius: 5rem;
  padding: 5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.popularCard:hover {
  background-color: #e9ed38;
}

.popularCard:hover img {
  transform: scale(1.1);
}

.popularCard img {
  width: 100%;
  margin-top: 2rem;
  transition: all 0.3s;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1.4rem;
}

.popularCard p {
  font-size: 1.4rem;
  max-width: 40rem;
  color: #474344;
}

.price {
  font-size: 1.8rem;
  background-color: #272425;
  display: inline-block;
  color: #eae7dc;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  border-radius: 2rem;
}

@media (max-width: 1100px) {
  .popularContainer h3 {
    font-size: 3.2rem;
  }

  .popularContainer {
    padding: 0 5rem;
  }

  .popularBox {
    transform: scale(0.95);
    margin-top: 3rem;
  }
}

@media (max-width: 1000px) {
  .popularContainer {
    padding: 0 5rem;
  }

  .popularBox {
    transform: scale(0.8);
    margin-top: -8rem;
  }
}

@media (max-width: 850px) {
  .popularContainer {
    text-align: center;
  }

  .popularBox {
    flex-direction: column;
    transform: scale(1);
    margin-top: 8rem;
  }
}

@media (max-width: 600px) {
  .popular {
    padding-bottom: 0rem;
  }

  .popularContainer h3 {
    font-size: 2.8rem;
  }

  .popularBox {
    transform: scale(0.8);
    margin-top: -18rem;
  }
}
